#root.giveawayDetail {
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main.giveawayDetail {
    flex: 1;
    gap: 5rem;
    display: flex;
    padding: .5rem;
    flex-direction: column;
}

.giveawayDetail header {
    gap: 2rem;
    width: 100%;
    display: flex;
    /* margin-top: 3rem; */
    flex-direction: column;
    justify-content: center;
}

.giveawayDetail header .site-heading {
    margin: 0;
    font-size: 4rem;
    color: #ffffff;
    text-align: center;
}

.giveawayDetail header .site-p {
    color: #ffffff;
    text-align: center;
}

.promo-section {
    max-height: 8rem;
}

.promo-section img {
    width: 100%;
    height: auto;
}

.prize-grid {
    gap: .25rem;
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main.giveawayDetail .prize-img {
    width: 100%;
    height: 12rem;
    background: url('../../public/brand/color-logo.svg') center no-repeat;
    background-size: contain;
}

main.giveawayDetail .prize-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

main.giveawayDetail .prize-img img:hover {
    animation: headShake;
    animation-duration: 2s
}

@media screen and (min-width: 720px) {
    
    main.giveawayDetail {
        padding: 1rem;
    }

    main.giveawayDetail header {
        margin: 0;
    }

    main.giveawayDetail .site-heading {
        font-size: 12vw;
    }

}

@media screen and (min-width: 768px) and (orientation: landscape) {
    
    main.giveawayDetail .site-heading {
        font-size: 6vw;
    }

    .promo-section {
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1280px) {
    
    main.giveawayDetail {
        gap: 4rem;
        padding: 0;
        /* margin: 0 8rem; */
    }

    main.giveawayDetail .site-heading {
        font-size: 5vw;
    }

    .promo-section {
        width: 50%;
    }

    .giveawayDetail header .site-p {
        width: 60%;
        margin: 2rem auto;
    }
}

@media screen and (min-width: 1600px) {
    main.giveawayDetail .prize-img {
        height: 18rem;
    }

}