@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karantina:wght@300;400;700&display=swap');

#root {
  background-color: #111111;
  background-image: 
    radial-gradient(circle, rgba(255,255,255,0.15) 1px, transparent 1px);
  background-size: 28px 28px;
}

.site-heading {
    font-family: 'Karantina';
}

.site-link {
    cursor: pointer;
    height: fit-content;
    text-decoration: none;
}