@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karantina:wght@300;400;700&display=swap');

#root {
    max-width: 1920px;
    margin: 0 auto;
}

body {
    background-color: #111111;
    background-image: 
      radial-gradient(circle, rgba(255,255,255,0.15) 1px, transparent 1px);
    background-size: 28px 28px;
}

.site-input {
    border: none;
    color: #fff;
    outline: none;
    background-color: #ffffff25;
}

.site-heading {
    font-family: 'Karantina';
}

.site-link {
    cursor: pointer;
    height: fit-content;
    text-decoration: none;
}

.site-btn {
    border: none;
    border-radius: .25rem;
}

.messages {
    left: 50%;
    width: 90%;
    z-index: 99;
    bottom: 1rem;
    padding: 1rem;
    list-style: none;
    color: #3a3a3a;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);

    background: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    transition: opacity 1s ease, visibility 1s ease;
}

.messages li {
    display: flex;
    font-size: .9rem;
    align-items: center;
    justify-content: center;
}

.messages .main-icon {
    margin: .5rem 0;
    font-size: 1.2rem;
}

.messages .inner-icon {
    font-size: 1rem;
    margin-inline-end: .5rem;
}

.invisible {
    opacity: 0;        
    visibility: hidden;
    transition: opacity 1s ease,
                visibility 1s ease;
}

@media screen and (min-width: 640px) {
    .messages {
        width: 60%;
    }
}

@media screen and (min-width: 720px) and (orientation: landscape) {
    .messages {
        width: 40%;
    }
}

@media screen and (min-width: 1280px) and (orientation: landscape) {
    .messages {
        width: 30%;
    }
}

@media screen and (min-width: 1600px) and (orientation: landscape) {
    .messages {
        width: 30%;
    }
}