nav {
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    position: relative;
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    height: 100%;
    display: flex;
    width: fit-content;
    align-items: center;
}

.nav-logo img {
    width: 35%;
}

.nav-list {
    gap: 2rem;
    display: none;
    align-items: center;
}

.nav-list a {
    color: #ffffff;
}

.nav-toggle {
    width: min-content;
    border: none;
    background: none;
    color: #ffffff;
    font-size: 1.5rem;
}

#mobile-nav {
    top: 0;
    right: 0;
    width: 80vw;
    height: 100dvh;
    position: fixed;
    z-index: 99;
    background: #8C52FF;
    transform: translateX(100%);
    background: -webkit-linear-gradient(90deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
    background: linear-gradient(90deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
    
    transition: .3s ease transform;
}

#mobile-nav.toggled {
    transform: translateX(0);
}

#mobile-nav .header {
    height: 10%;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
}

#mobile-nav .nav-logo img {
    width: 50%;
}

.nav-list.mobile {
    gap: .5rem;
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

.nav-list.mobile .site-link {
    width: 100%;
    padding: .75rem 0;
}

@media only screen and (min-width: 640px) {
    nav {
        height: 8rem;
    }

    .nav-logo img {
        width: 20%;
    }
}

@media only screen and (min-width: 720px) and (orientation: landscape) {
    
    nav {
        height: 6rem;
    }

    .nav-logo img {
        width: auto;
        height: 50%;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    .logo {
        width: 25%;
        height: auto;
    }

}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .nav-toggle {
        display: none;
    }

    .nav-list {
        display: flex;
    }
}

@media screen and (min-width: 1240px) {

    nav {
        height: 5rem;
    }

    .logo {
        width: auto;
        height: 8%;
    }

}

@media only screen and (min-width: 1600px) {
    nav {
        height: 8rem;
    }
}