* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Karantina';
    transition: height .3s ease;
}

#root.waitlist {
    height: 100dvh;
    overflow: hidden;
}

main.waitlist {
    height: 70%;
    color: #fff;
    display: flex;
    padding: 1rem;
    text-align: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

main.waitlist .site-heading {
    font-size: 14vw;
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: 2rem;
    /* text-transform: uppercase; */
    /* text-shadow: 1px 2px 5px rgba(0,0,0,0.2); */
    font-family: 'Karantina';
    
}

main.waitlist .site-heading span {
    font-family: inherit;

    background: #8C52FF;
    background: -webkit-linear-gradient(145deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
    background: -moz-linear-gradient(145deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
    background: linear-gradient(145deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
    /* background-attachment: fixed; */
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main.waitlist .site-p {
    /* width: 100%; */
    font-weight: 400;
    margin-bottom: 2rem;
}

#waitlist {
    width: 100%;
    padding: 4px;
    display: flex;
    
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    transform-origin: left;
    animation: formwidth 1s ease-out forwards;
}

#waitlist input {
    flex: .7;
    font-size: .8rem;
    border: none;
    color: #fff;
    outline: none;
    padding: .75rem;
    background: none;
}

#waitlist input::placeholder {
    color: #ffffff;
    transition: opacity 1s ease-in-out;
}

#waitlist-submit {
    flex: .3;
    /* opacity: 0; */
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #fff;
}

#waitlist-submit .btn-icon {
    color: #1e1e1e;
    font-size: 1.2rem;
    height: 3rem;
}

.visually-hidden {
    position: absolute !important;
    width: 1px; height: 1px;
    padding: 0; margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.gradient-backdrop {
    bottom: 0;
    width: 100%;
    height: 30%;
    z-index: 0;
    position: fixed;
    
    pointer-events: none;
    background: #8C52FF;
    background: -webkit-linear-gradient(90deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
    background: linear-gradient(90deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
    
    mask-image: linear-gradient(transparent, black);
    -webkit-mask-image: linear-gradient(transparent, black);
    
    animation: fadein 5s ease-in-out forwards;
}

main.waitlist .page-logo {
    z-index: -1;
    bottom: -80%;
    width: 100%;
    position: absolute;
    pointer-events: none;
}

main.waitlist .page-logo svg {
    /* top: 5rem;
    left: 50%; */
    width: 100%;
    /* position: absolute;
    pointer-events: none;
    transform: translateX(-50%);
    animation: fadein 1.5s ease-in-out forwards; */
}

@media screen and (min-width: 640px) {

    main.waitlist .page-logo {
        top: 90%;
        width: 80%;
        bottom: unset;
    }

    main.waitlist .site-heading {
        font-size: 12vw;
        margin-bottom: 2rem;
    }
    
    #waitlist {
        width: 75%
    }

}

@media screen and (min-width: 768px) and (orientation: landscape) {
    
    
    main.waitlist nav {
        height: 6rem;
    }
    
    nav .site-link {
        font-size: .8rem;
    }

    main.waitlist .site-heading {
        font-size: 8vw;
    }
        
    main.waitlist .site-p span,
    main.waitlist .site-p {
        font-size: .8rem;
    }
    
    main.waitlist .page-logo {
        top: 60%;
        width: 50vw;
    }
    
    main.waitlist .page-logo svg {
        opacity: .2;
    }
    
    #waitlist {
        width: 50%;
    }
}

@media screen and (min-width: 1280px) {
    main.waitlist {
        height: 60%;
        /* justify-content: flex-start; */
    }

    main.waitlist nav {
        height: 8rem;
    }
    
    nav .site-link {
        font-size: .9rem;
    }
    
    main.waitlist .site-heading {
        font-size: 5vw;
    }

    main.waitlist .site-p span,
    main.waitlist .site-p {
        font-size: .7rem;
    }

    #waitlist {
        width: 40%;
    }

    main.waitlist .page-logo {
        width: 60%;
        /* top: 90%; */
    }
}

@media only screen and (min-width: 1600px) {
    main.waitlist {
        align-items: center;
        flex-direction: column;
    }
    
    main.waitlist .site-heading {
        font-size: 6vw;
        text-align: center;
    }

    main.waitlist .site-p,
    main.waitlist .site-p span {
        font-size: 1rem;
        text-align: center;
    }

    #waitlist {
        width: 30%;
        margin-top: 1rem;
    }
    
    .page-logo {
        height: 40%;
        z-index: 1;
        max-height: 30%;
        position: relative;
        pointer-events: none;
    }

    .page-logo svg {
        top: 0;
        left: 50%;
        z-index: -1;
        width: 40vw;
        position: absolute;
        pointer-events: none;
        transform: translateX(-50%);
        animation: fadein 1.5s ease-in-out forwards;
    }

    .gradient-backdrop {
        bottom: 0;
        width: 100%;
        height: 30%;
        background: #8C52FF;
        background: -webkit-linear-gradient(90deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
        background: -moz-linear-gradient(90deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
        background: linear-gradient(90deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
        
        mask-image: linear-gradient(transparent, black);
        -webkit-mask-image: linear-gradient(transparent, black);
    }
}