#preview {
    margin-top: 1rem;
}

.preview-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #00000020;
    transition: .5s ease width,
                .5s ease height;
}

.preview-card .background {
    flex: 1;
    position: relative;
}

.preview-card .album-art {
    width: 5rem;
    right: 1rem;
    bottom: -2rem;
    height: 5rem;
    z-index: 5;
    position: absolute;
    background-color: red;
    border: 3px solid transparent;
    border-image: linear-gradient(145deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
    border-image-slice: 1;
}

/* .preview-card .album-art::before {
    top: 0;
    left: 0;
    content: '';
    height: 3px;
    position: absolute;
    
    background: #8C52FF;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    background-color: #8C52FF;
    transform: translate(-50%);
    background: -webkit-linear-gradient(145deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
    background: -moz-linear-gradient(145deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
} */

.preview-card .text-overlay {
    height: 3rem;
    display: flex;
    padding: 0 1rem;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
}

.preview-card .overlay-input {
    border: none;
    max-width: 55%;
    background: none;
    width: fit-content;
    display: inline-block;
}

.overlay-input.artist {
    font-size: .7rem;
    /* font-family: 'Special Gothic Expanded One'; */

    background: #8C52FF;
    text-transform: uppercase;
    background-color: #8C52FF;
    background: -webkit-linear-gradient(145deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
    background: -moz-linear-gradient(145deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
    background: linear-gradient(145deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overlay-input.track {
    color: #fff;
    font-size: .5rem;
}

.preview-card .text-overlay::before {
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    
    background: #8C52FF;
    background-color: #8C52FF;
    background: -webkit-linear-gradient(145deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
    background: -moz-linear-gradient(145deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
    background: linear-gradient(145deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
}