/* @media only screen and (min-height: 700px) and (orientation: portrait) {
    #page-logo {
        width: 120vw;
        bottom: -30vh;
    }
} */

@media only screen and (min-width: 768px) and (orientation: portrait) {
    main {
        /* width: 75%; */
    }
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
    
    main {
        flex-direction: row;
        justify-content: space-between;
    }
    
    #content {
        width: 60%;
        height: 90%;

        align-items: flex-start;
    }

    .logo {
        max-width: 160px;
        margin-inline-start: 1rem;
    }

    .main-content {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    main h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    main p {
        width: 80%;
        margin-bottom: 3rem;
    }

    #waitlist {
        width: 60%;
    }

    .page-logo {
        width: 30%;
        height: 100%;
        max-height: none;
    }
    
    .page-logo svg {
        top: 50%;
        right: -30%;
        width: auto;
        height: 100%;
        left: auto;
        pointer-events:all;
        transform: translateY(-55%);
    }
}

@media only screen and (min-width: 1366px) {

    main h1 {
        font-size: 3rem;
    }

    #waitlist {
        width: 60%;
    }

    #responsive-logo {
        right: -10%;
    }
}