* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Special Gothic Expanded One';
    transition: height .3s ease;
}

html {
    height: 100dvh;
    overflow: hidden;
    max-height: 100dvh;
    background: #000;

}

body {
    height: 100%;
    overflow: hidden;
}

.noise-background {
    top: 0;
    left: 0;
    width: 100%;
    opacity: .3;
    z-index: -1;
    height: 100%;
    position: fixed;
    object-fit: cover;
    pointer-events: none;
}

main {
    height: 100%;
    color: #fff;
    display: flex;
    padding: 2rem 1rem;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: auto;
    height: 8%;
    /* margin-bottom: 2rem; */
    /* max-width: 200px;
    max-height: 200px; */
}

#content {
    height: 70%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.responsive-logo {
    display: none;
}

main h1 {
    font-size: 6vw;
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: 2rem;
    /* text-transform: uppercase; */
    /* text-shadow: 1px 2px 5px rgba(0,0,0,0.2); */
    font-family: 'Special Gothic Expanded One';
}

main h1 span {
    font-family: inherit;

    background: #8C52FF;
    background: -webkit-linear-gradient(145deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
    background: -moz-linear-gradient(145deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
    background: linear-gradient(145deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
    /* background-attachment: fixed; */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main p {
    width: 100%;
    font-weight: 400;
    margin-bottom: 2rem;
}

#waitlist {
    width: 100%;
    padding: 4px;
    display: flex;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#waitlist input {
    flex: .7;
    font-size: .8rem;
    border: none;
    color: #fff;
    outline: none;
    padding: .75rem;
    background: none;
}

#waitlist input::placeholder {
    color: #ffffff;
}

#waitlist-submit {
    flex: .3;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #fff;
}

#waitlist-submit ion-icon {
    color: #000;
    font-size: 1.2rem;
}

.gradient-backdrop {
    bottom: 0;
    width: 100%;
    height: 30%;
    z-index: -2;
    position: fixed;

    background: #8C52FF;
    background: -webkit-linear-gradient(90deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);
    background: linear-gradient(90deg, rgba(140, 82, 255, 1) 0%, rgba(255, 137, 52, 1) 100%);

    mask-image: linear-gradient(transparent, black);
    -webkit-mask-image: linear-gradient(transparent, black);
}

.page-logo {
    height: 22%;
    max-height: 22%;
    position: relative;
}

.page-logo svg {
    top: 0;
    left: 50%;
    z-index: -1;
    width: 90vw;
    /* bottom: -25vh; */
    position: absolute;
    pointer-events: none;
    transform: translateX(-50%);
}

.messages {
    left: 50%;
    width: 90%;
    z-index: 99;
    bottom: 1rem;
    padding: 1rem;
    list-style: none;
    color: #3a3a3a;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);

    background: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.messages li {
    display: flex;
    font-size: .9rem;
    align-items: center;
    justify-content: center;
}

.messages .main-icon {
    margin: .5rem 0;
    font-size: 1.2rem;
}

.messages .inner-icon {
    font-size: 1rem;
    margin-inline-end: .5rem;
}