<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Congratulations! Your prize is here!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body style="margin:0; padding:0; background-color:#000; font-family:Arial, sans-serif;">

    <!-- Wrapper Table -->
    <table role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color:#000;">
      <tr>
        <td align="center">

            <!-- Inner Container -->
            <table role="presentation" cellpadding="0" cellspacing="0" border="0" style="overflow:hidden; max-width: 600px !important; background: #000;">

                <!-- Header / Logo -->
                <tr>
                    <td align="center" style="padding:20px; background-color:#000000;">
                        <img src="https://xstreamermusic.xyz/static/images/email/giveaway.png" alt="" style="height: 80px; margin: 2rem 0;">

                        <!-- Footer -->
                        <a href="#" style="text-decoration:underline; padding: 1rem 0;">Unsubscribe</a>
                    </td>
                </tr>

            </table>
          <!-- End Inner Container -->

        </td>
      </tr>
    </table>
    <!-- End Wrapper Table -->

  </body>
</html>
