{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="XStreamer Music">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">

    <meta property="og:title" content="XStreamer Music - The Future of SA Music" />
    <meta property="og:description" content="Be first in line for the new wave in South African music. Join the XStreamer Music waitlist today!" />
    <meta property="og:image" content="https://xstreamermusic.xyz/static/images/brand/xstreamer-og-image.png" />
    <meta property="og:url" content="https://xstreamermusic.xyz/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="XStreamer Music" />
    <meta property="og:locale" content="en_ZA" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="XStreamer Music - The Future of SA Music" />
    <meta name="twitter:description" content="Be first in line for the new wave in South African music. Join the XStreamer waitlist today!" />
    <meta name="twitter:image" content="https://xstreamermusic.xyz/static/images/brand/xstreamer-og-image.png" />
    <meta name="twitter:site" content="@XStreamerMusic" />
    <meta name="twitter:creator" content="@XStreamerMusic" />
    <meta name="twitter:domain" content="xstreamermusic.xyz" />
    
    <link rel="canonical" href="https://xstreamermusic.xyz/" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/brand/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/brand/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/brand/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/brand/icons/site.webmanifest' %}">

    <!-- fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">

    <!-- stylesheets -->
    <link rel="stylesheet" href="{% static 'css/waitlist.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">

    <title>{% if page_title %}{{ page_title }} - XStreamer Music{% else %}XStreamer Music{% endif %}</title>

    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "XStreamer Music",
        "url": "https://xstreamermusic.xyz/",
        "description": "Be first in line for the new wave in South African music. Join the XStreamer Music waitlist today!",
        "publisher": {
            "@type": "Organization",
            "name": "XStreamer Music",
            "logo": {
            "@type": "ImageObject",
            "url": "https://xstreamermusic.xyz/static/images/brand/logo.png"
            }
        }
        }
    </script>

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-86MGKDYWFM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-86MGKDYWFM');
</script>

<body>
    <main>
        <img class="logo" src="{% static 'images/brand/logo.png' %}" alt="XStreamer Music official logo - white against transparent background">
        <section id="content">
            <h1>Something Big Is Coming<br>
                <span>Join The New Wave</span>
            </h1>
            <p>
                <span>
                    SA Music is experiencing a cultural BOOM,<br>and
                    you DON'T wanna miss out!
                    <br><br>
                </span>
                <b>Join The Waitlist,</b><br>and we'll give you a
                shout when the site is up and running!
            </p>
            
            <form method="POST" action="{% url 'join_waitlist' %}" id="waitlist">
                {% csrf_token %}
                <label for="id_email" class="visually-hidden">Email Address</label>
                <input type="email" name="email" id="id_email" placeholder="Enter your email address" required>
                <button type="submit" id="waitlist-submit">
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </form>
            {% if messages %}
                <ul class="messages" id="messages">
                    <ion-icon class="main-icon" name="notifications"></ion-icon>
                    {% for message in messages %}
                        <li>
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
        <div class="page-logo">
            <svg viewBox="0 0 567 572" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M282.435 285.706L110.726 398.359V502.763" stroke="white" stroke-width="100" stroke-linejoin="round"/>
                <path d="M283.685 285.706L455.394 173.053V68.6488" stroke="white" stroke-width="100" stroke-linejoin="round"/>
                <path d="M283.746 285.706L455.455 398.359V501.573" stroke="white" stroke-width="100" stroke-linejoin="round"/>
                <path d="M282.435 285.706L110.726 173.053V69.8393" stroke="white" stroke-width="100" stroke-linejoin="round"/>
                <path d="M114.628 568.903C112.537 570.403 109.723 570.403 107.633 568.903L30.0474 513.242C25.3098 509.843 27.7143 502.366 33.545 502.366H188.716C194.547 502.366 196.951 509.843 192.213 513.242L114.628 568.903Z" fill="white"/>
                <path d="M451.493 2.5092C453.583 1.00942 456.397 1.00942 458.488 2.5092L536.073 58.1705C540.811 61.5693 538.406 69.0456 532.576 69.0456H377.405C371.574 69.0456 369.17 61.5693 373.907 58.1705L451.493 2.5092Z" fill="white"/>
            </svg>
        </div>
    </main>

    <div class="gradient-backdrop"></div>
    <img src="{% static 'images/noise_16x9.png' %}" alt="noise background" class="noise-background">

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script>  
        document.addEventListener('DOMContentLoaded', () => {
    
            const message = document.getElementById('messages');
            
            setTimeout(() => {
                message.classList.toggle('invisible');
            }, 7000);

        });

    </script>
</body>
</html>